/* 재생목록 */
.audio-lists-panel {
  border-radius: 0;
}

.audio-lists-panel-header {
  border-bottom: 0;
  box-shadow: none;
}

/* 재생목록 -> 비우기 버튼 */
.audio-lists-panel-header-delete-btn {
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 3px;
  border: 1px solid #adadad;
}

.audio-lists-panel-header-delete-btn:hover {
  border-color: #fff;
}

.audio-lists-panel-header-line {
  background: none;
}

/* 플레이어 배경 */
.react-jinke-music-player-main .music-player-panel {
  height: 70px;
  background-color: #1D1D1D;
}

.react-jinke-music-player-main .music-player-panel .panel-content {
  overflow: visible;
}

/* 재생 썸네일 이미지 */
.react-jinke-music-player-main .music-player-panel .panel-content .img-content {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
}


/* 프로그레스바 핸들 아이콘 */
.rc-slider-handle {
  width: 8px;
  height: 8px;
  margin-top: -2px;
}

.react-jinke-music-player-main .music-player-panel .panel-content .rc-slider-handle {
  border: 0;
}



/* 재생시간 숨김 */
.react-jinke-music-player-main .music-player-panel .panel-content .progress-bar-content .audio-main .current-time,
.react-jinke-music-player-main .music-player-panel .panel-content .progress-bar-content .audio-main .duration{
  display: none;
}

/* 프로그레스바 위치 */
.react-jinke-music-player-main .music-player-panel .panel-content .progress-bar-content .audio-main {
  margin-top: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.react-jinke-music-player-main .music-player-panel .panel-content .progress-bar-content .progress-bar {
  margin: 0;
}

.react-jinke-music-player-main .music-player-panel .panel-content .progress-bar-content .progress-bar .rc-slider-rail,
.react-jinke-music-player-main .music-player-panel .panel-content .progress-bar-content .progress-bar .rc-slider-track {
  border-radius: 0;
  height: 3px;
}

.react-jinke-music-player-main .music-player-panel .panel-content .progress-bar-content .audio-main .rc-slider {
  padding: 0;
  height: 0;
}

.react-jinke-music-player-main .music-player-panel .panel-content .progress-bar .rc-slider-handle,
.react-jinke-music-player-main .music-player-panel .panel-content .progress-bar .rc-slider-track {
  background-color: #fff;
}

.audio-main .rc-slider-step {
  background-color: #4A4A4A;
  height: 3px;
}

/* 컨트롤 버튼 */
.react-jinke-music-player-main .music-player-panel .panel-content .player-content .next-audio svg,
.react-jinke-music-player-main .music-player-panel .panel-content .player-content .prev-audio svg {
  font-size: 24px;
}

.react-jinke-music-player-main .music-player-panel .panel-content .player-content .play-btn svg {
  font-size: 20px;
}

.react-jinke-music-player-main .music-player-panel .panel-content .player-content .play-sounds svg {
  width: 18px;
}

.react-jinke-music-player-main .react-jinke-music-player-mode-icon {
  width: 20px;
}

.react-jinke-music-player-main svg {
  font-size: 18px;
}

.react-jinke-music-player-main .music-player-panel .panel-content .player-content .audio-lists-btn .audio-lists-num {
  font-size: 12px;
}

.audio-lists-panel {
  height: calc(100vh - 70px);
  width: 100%;
  max-width: 480px;
  right: 0;
  top: 0;
}

.player-content .group.play-sounds {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.player-content .group.play-sounds .sounds-icon {
  margin-right: 0 !important;
}

.player-content .group.play-sounds .rc-slider.sound-operation {
  display: none;
  position: absolute;
  bottom: 60px;
  left: -40px;
}

.player-content .group.play-sounds .rc-slider.sound-operation::after {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  left: -20px;
  right: -20px;
  bottom: -10px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #3f3f3f;
  z-index: -1;
}

.player-content .group.play-sounds:hover .sound-operation {
  display: block !important;
}

